<footer

class="
bg-gray-950
text-gray-300
"

>


<div

class="
mx-auto
grid
max-w-7xl
gap-10
px-6
py-14
md:grid-cols-3
"

>


<div>


<img

src="/assets/images/logo.svg"

alt="WD Web Solutions logo"

class="
h-32
w-auto
"

>


<p

class="
mt-5
leading-relaxed
"

>
Website design, development, and
ongoing support for growing
businesses.
</p>


</div>





<div>


<h3

class="
font-bold
text-white
"

>
Contact
</h3>



<p class="mt-4">

Austin, TX

</p>




<p class="mt-3">

zachw&#64;wdwebsolutions.com

</p>



</div>





<div>


<h3

class="
font-bold
text-white
"

>
Quick Links
</h3>


<div

class="
mt-4
space-y-2
"

>


<a

routerLink="/services"

class="
block
hover:text-white
"

>
Services
</a>


<a

routerLink="/resources"

class="
block
hover:text-white
"

>
Resources
</a>


<a

routerLink="/contact"

class="
block
hover:text-white
"

>
Contact
</a>


</div>


</div>


</div>





<div

class="
border-t
border-gray-800
py-6
text-center
text-sm
"

>

© {{year}} WD Web Solutions. All rights reserved.

</div>



</footer>